.bottomstats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.data {
    display: flex;
    flex-direction: row;
    color: #F1F6F9;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    transition: .3s ease-in-out;
}
#just-a-bar {
    margin-top: 20px;
    margin-bottom: 100px;
}
.words-typed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.wpm{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* lightmode stuff */
[data-theme="light"] .data{
    color: #212A3E
}