:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}
.gamebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 800px;
    background-color: #F1F6F9;
    color: #394867;
    border-radius: 23px;
    max-width: 768px;
    box-shadow: 1px 1px 1em 1px rgba(241, 246, 249, 0.5);
    transition: .3s ease-in-out;
}
.timeselection {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    margin-left: 20px;
    margin-right: 20px; 
}
.difficulty {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    margin-left: 20px;
    margin-right: 20px; 
}
.colortheme {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    margin-left: 20px;
    margin-right: 20px; 
}
#gamebar-icons {
    margin-left: 10px;
    margin-right: 10px; 
}
.hrtime {
    height: 2px;
    width: 10%;
    background: #394867;
    border: none;
    transition: .3s ease-in-out;
}
.hrdiff {
    height: 2px;
    background: #394867;
    border: none;
    transition: .3s ease-in-out;
    z-index: 2;
}


/* lightmode stuff */
[data-theme='light'] #navbar{
    background-color: #394867;
    color: #F1F6F9;
    box-shadow: 1px 4px 1em 5px rgba(0, 0, 0, 0.25);
}
[data-theme="light"] .hrdiff {
    background: #F1F6F9;
}
[data-theme="light"] .hrtime {
    background: #F1F6F9;
}
