.textdisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px;
}
#maintext {
    color: #9BA4B5;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
}
#wordinput {
    color:transparent;
    background-color:transparent;
    caret-color: transparent;
    border-style:none;
    outline:none;
    user-select:none;
}
#wordinput::selection {
    background-color: transparent;
  }
#sound {
    margin-top: 10px;
    color: #F1F6F9;
}