[data-theme="dark"] .dashboard {
    height: 100vh;
    background-color: #212A3E;
    overflow: scroll;
    transition: .3s ease-in-out;
}
[data-theme="light"] .dashboard {
    height: 100vh;
    background-color: #F1F6F9;
    transition: .3s ease-in-out;
}